<div class="row" style="width:77%; margin:auto;">
    <div class="col-md-4" style="height:90px;">
        <h3>Księgarnia internetowa</h3>
        <h5>Nasze sklepy prowadzimy z pasją!</h5>
    </div>

    <div class="col-lg-4" style="margin:auto; height: 90px; min-width:395px;">
        <div style="float:left; margin-top: 35px;">
            <div style="float:right; margin-right:5px;">Wyszukiwarka</div>
        </div>
        <div style="margin-top: 30px; text-align:left; float:left;">
            <div class="right-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="search" class="form-control" style="text-align:right;" />
            </div>
            @*<p>Wyszukiwarka <input class="sr-only" value="Szukaj" /><button class="btn btn-default">Szukaj</button></p>*@
        </div>
        <div style="float:left; margin-top: 30px; margin-left:5px;  ">
            <div style="float:right;"><button class="btn btn-default">Szukaj</button></div>
        </div>
    </div>

    <div class="col-md-2" style="margin:auto; height: 90px; text-align:right;">
        <div style="float:right; margin-top: 35px;">
            Twój koszyk
        </div>
    </div>
    <div class="col-md-2" style="margin:auto; height: 90px; text-align:right;">
        <div style="float:right; margin-top: 30px; padding: 5px; border: solid 1px; text-align:right;">
            Liczba produktów: 0
        </div>
    </div>
</div>
