<div style="background:white;">
    Dzień dobry,<br />
    <br />
    Z powodów osobistych pracę nad zadaniem rekrutacyjnym rozpocząłem w wtorek (06.06.2017r.). Wysyłam prototyp aplikacji do przejrzenia postępów w pracy i określenia uwag co wymaga poprawy. W miarę możliwości proszę wspomóc jakimś przydatnym źródłem jak wykonać usprawnienia.
    Informacja ta została wyświetlona z powodu postępów w pracy. Informacje z e-maila odnośnie wykonanych zadań mogą być nieaktualne.
    Postępy pracy:
    <ul>
        <li>
            Etap I - lista produktów, wraz z podziałem, projekt bazy danych i wygląd aplikacji. Kompletnie wykonane.
        </li>
        <li>
            Etap II - implementacja koszyka. Kompletnie wykonane (jeszcze popracuję nad przyciskiem zamykania w widoku dodawania do koszyka).
        </li>
        <li>
            Etap III - implementacja dodatkowych trzech zakładek. Kompletnie wykonane.
        </li>
        <li>
            Etap IV - zostało dodane pole wyszukiwarki. Działa, nie uwzględnia kategorii (zakładki).
        </li>
        <li>
            Etap V - Web API, kompletnie wykonany (informacje w pliku README na GitHub).
        </li>
    </ul>
    <br />
    Jestem świadom tego że są wymagane poprawki, informacja o wykonaniu konkretnych zadań jest subiektywna. Proszę o opinię. Termin wykonania <br />
    pracy nie powinien przedłużyć się, czyli projekt powinien zostać wykonany przed końcem czerwca.<br />
    <br />
    Aplikacja została umieszczona pod adresem:<br />
    http://marcindlu993-001-site3.ftempurl.com/ <br />
    Web API: <br />
    http://marcindlu993-001-site4.ftempurl.com/help <br />
    <br />
    Github, wraz z plikiem README z informacjami do ostaniego etapu zadania: <br />
    https://github.com/marcindlu993/Shop.Web <br />
    <br />
    Z poważaniem,<br />
    Marcin Długoszewski<br />

    PS. W miarę możliwości proszę o wysyłanie wiadomości na adres dlugoszewski.marcin@gmail.com. Dziękuję.<br />
    <input type="button" value="ok" onclick="javascript:doIt('infoBill')" class="btn btn-default" />

    <script type="text/javascript">
        function doIt(dataViewAddToCart) {
            var dataViewAddToCart;
            // do needfull
            document.getElementById(dataViewAddToCart).innerHTML = "";
        }
    </script>
</div>