body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.top-thing h3 {
    padding: 1px;
}

#loadingPanel {
    display: none;
    width: 1%;
    margin: auto;
}

hr {
    margin: 2px 0px;
}

.right-inner-addon {
    position: relative;
    float: right;
}

    .right-inner-addon input {
        padding-right: 30px;
    }

    .right-inner-addon i {
        position: absolute;
        left: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
.navMyAjax li{
    border: solid 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.navMyAjax li a:hover {
    border: solid 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
    .navMyAjax li a:focus {
        border: solid 1px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

a.closeX {
    right: 0px;
    top: 0px;
    width: 20px;
    background-color: #FFF;
    color: black;
    border-radius: 20px;
    padding-left: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
a.closeX:hover {
    text-emphasis:none;
}

#loadingPanel {
    position: absolute;
    left:49.6%;
    opacity:0.3;
}

#sumValue {
    text-align: right;
    margin-right: 10px; 
}